.ssp88SelectStock {
    margin-top: 40px;
    border: 1px dashed var(--primaryClr);
    border-radius: 15px;
    padding: 20px 10px;
}

.ssp88AddIcon {
    height: 24px;
    width: 24px;
    background-color: var(--primaryClr10);
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.ls7MainHead {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0px;
    color: var(--constantWhite);
    margin-top: 30px;
}

.ls7Two {
    color: var(--primaryClr);
}

.pr11Image {
    border-radius: 50%;
    padding: 3px;
}

.pr11ImageWidth {
    display: flex;
    align-items: center;
}